{
  "$schema": "https://json.schemastore.org/prettierrc",
  "plugins": ["prettier-plugin-pkg", "prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx", "cn", "cva"],
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "endOfLine": "lf"
}
