@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src:
    local('Inter'),
    url('/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-style: italic;
  font-display: auto;
  unicode-range: U+000-5FF;
  src:
    local('Inter'),
    url('/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 100 800;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src:
    local('JetBrains Mono'),
    url('/fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 100 800;
  font-style: italic;
  font-display: auto;
  unicode-range: U+000-5FF;
  src:
    local('JetBrains Mono'),
    url('/fonts/JetBrains_Mono/JetBrainsMono-Italic-VariableFont_wght.ttf') format('truetype');
}
